.input-username {
  background-color: aliceblue;
}

.banner-image {
  height: auto;
  object-fit: cover;
  padding: 10px 30px;
}

.claim-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  background-color: #222222;
  color: #C0C0C0;
}

.claim-text {
  color: #C0C0C0;
  font-family: Arial;
  font-weight: 400;
  text-align: center;
}

.claim-button {
  background: #414141;
  margin-top: 20px;
  width: 300px;
  font-family: Arial;
  font-weight: 400;
}

/* HomeBanner.css */
.homeBanner {
  background-color: #222222;
  padding: 20px;
}

.navbar {
  border-radius: 8px;
  padding: 0 16px;
  margin-top: 20px;
  margin: 0px;
  margin-top: 15px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  flex-grow: 1;
  display: flex;
  gap: 24px;
}

.mobileMenuIcon {
  display: none;
}

@media (max-width: 600px) {
  .mobileMenuIcon {
    display: block;
  }

  .navLinks {
    display: none;
  }
}

.drawer {
  width: 250px;
}

.drawerHeader {
  display: flex;
  justify-content: flex-end;
}

.bannerContent {
  padding: 80px 0px;
}


.bannerText {
  color: #C0C0C0;
  font-family: Arial;
  font-weight: 400;
  line-height: 92.2;
  margin-top: 20px;
  font-size: 85px;
}

.bannerTitle {
  font-size: 45px;
}

@media (min-width: 600px) {
  .bannerTitle {
    font-size: 5px;
  }
}

@media (min-width: 900px) {
  .bannerTitle {
    font-size: 85px;
  }
}

.bannerSubtitle {
  margin-top: 16px;
}

.inputContainer {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

@media (min-width: 600px) {
  .inputContainer {
    flex-direction: row;
  }
}

.inputUsername {
  width: 100%;
  background-color: aliceblue;
}

.bannerImage {
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* claim SociaTree */

.claim-container {
  display: flex;
  flex-direction: row;
  flex-shrink: 6;
}

.claim-card {
  flex-shrink: 3 !important;
  border: 2px solid;
}


/* Grid Layout */
.row {
  display: flex;
  justify-content: center;
  gap: 15px;
  /* Space between images */
  margin-bottom: 15px;
  /* Space between rows */
}

/* Blinking Keyframes */
@keyframes blinker-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes blinker-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    opacity: 0;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* First Row: Right to Left */
.right-to-left .blink {
  animation: blinker-right 0.6s infinite ease-in-out alternate;
  width: 50px;
}

/* Second Row: Left to Right */
.left-to-right .blink {
  animation: blinker-left 0.6s infinite ease-in-out alternate;
  width: 50px;
}


/*  */

.slide_card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25em;
  transition: all .6s ease;
  box-shadow: 1em 1em 2em rgba(0,0,0,.2);
}